@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family:'Freigeist Regular';
  src: url("./fonts/Freigeist-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'Gilory-Light';
  src: url("./fonts/Gilroy-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Inter-Regular';
  src: url("./fonts/Inter_28pt-Regular.ttf") format("truetype");
}


@layer base {
  body {
    font-family: 'Inter-Regular', sans-serif;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
