@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Freigeist Regular';
  src: url("./fonts/Freigeist-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'Gilory-Light';
  src: url("./fonts/Gilroy-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Gilory-Bold';
  src: url("./fonts/Gilroy-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Inter-Regular';
  src: url("./fonts/Inter_28pt-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Inter-Bold';
  src: url("./fonts/Inter-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Rubik-Regular';
  src: url("./fonts/Rubik-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Poppins-Extrabold';
  src: url("./fonts/Poppins-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url("./fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Helvetica-Light';
  src: url("./fonts/helvetica-light.ttf") format("truetype");
}

@font-face {
  font-family: 'Clash-Display';
  src: url("./fonts/ClashDisplay-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'Satoshi-Regular';
  src: url("./fonts/Satoshi-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'PlusJakartaSans-Regular';
  src: url("./fonts/PlusJakartaSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Urbanist-Regular';
  src: url("./fonts/Urbanist-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url("./fonts/OpenSans-Regular.ttf") format("truetype");
}

@layer base {
  body {
    font-family: 'Inter-Regular', sans-serif;
  }

  h5 {
    font-family: 'Rubik-Regular', sans-serif;
  }
}


@layer components {
  .show-reel {
    background: url('/sea-bg.jpeg');
    background-size: cover;
    background-position: center;
  }

  .show-reel h1 {
    font-family: 'Poppins-Extrabold', sans-serif;
  }

  .show-reel h2,
  h3,
  h5,
  h6,
  p {
    font-family: 'Poppins-Regular', sans-serif;
  }

  .display h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Gilory-Bold', sans-serif;
  }

  .expertise h3,
  .how-we-do h3 {
    font-family: 'Gilory-Light', sans-serif;
  }

  .expertise .text-highlight,
  .how-we-do .text-highlight {
    font-family: 'Gilory-Bold', sans-serif;
  }

  .text-highlight {
    font-family: 'Gilory-Bold', sans-serif;
  }

  .team-title {
    font-family: 'Gilory-Bold', sans-serif;
  }

  .about-title {
    font-family: "Inter-Bold";
  }

  .expertise-card p,
  .how-we-do p {
    font-family: 'Helvetica-Light', sans-serif;
  }
  .expertise-card-title {
    font-family: 'Gilory-Bold', sans-serif;
  }
  
  .expertise-card,
  .how-we-do-card {
    position: relative;
    background: rgba(255, 255, 255, 0.17);
    padding: 20px;
    border-radius: 20px;
    overflow: hidden;
    z-index: 1;
  }

  .expertise-card::before,
  .how-we-do-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    padding: 1px;
    background: linear-gradient(250.93deg,
        rgba(255, 255, 255, 0.17) -0.16%,
        rgba(0, 0, 0, 0.17) 65.71%);
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask-composite: exclude;
    /* Exclude the center */
    -webkit-mask-composite: destination-out;
    /* Safari-specific */
    z-index: -1;
  }

  .faq h1 {
    font-family: "Gilory-Bold", sans-serif;
  }

  .project-card h4 {
    font-family: "Gilory-Bold", sans-serif;
  }


  .reviews-container .reviews-title {
    font-family: "Gilory-Bold", sans-serif;
  }

  .reviews-text-title {
    font-family: "Inter-Regular";
  }

  .brand-cards-title {
    font-family: "Gilory-Bold", sans-serif;
  }

  .brand-card {
    border: 1.5px solid green;
    border-radius: 20px;
    padding: 25px;

  }
  .brand-card-title {
    font-family: "Clash-Display", sans-serif;
  }
  .brand-card-description {
    font-family: "PlusJakartaSans-Regular", sans-serif;
  }

  .contact-card {
    border: 1.5px solid #1E1E21;
    border-radius: 20px;
    padding: 25px;
  }

  .contact-card-title {
    font-family: "Inter-Regular", sans-serif;
  }

  .contact-card-description {
    font-family: "Inter-Regular", sans-serif;
  }

  .square-cards-container {
    border: 1.5px solid green;
    border-radius: 2rem;
  }
  .testimonial-container h1 {
    font-family: "Urbanist-Regular", sans-serif;
  }
  .testimonial-container p {
    font-family: "OpenSans-Regular", sans-serif;
  }
  .double-cards-title {
    font-family: "Gilory-Bold", sans-serif;
  }

  .double-cards-container p{
    font-family: "Inter-Regular", sans-serif;
  }


  progress {
    /* General styles for the progress element */
    width: 100%;
    height: 20px;
    appearance: none; /* Remove default styles */
    -webkit-appearance: none;
  }
  
  progress::-webkit-progress-bar {
    /* Styles for the progress background */
    background-color: #e0e0df;
    border-radius: 10px;
    overflow: hidden;
  }
  
  progress::-webkit-progress-value {
    /* Styles for the filled portion */
    background: linear-gradient(90deg, #87ceeb, #00bfff); /* Sky blue gradient */
    border-radius: 10px;
    transition: width 0.3s ease;
  }
  
  progress::-moz-progress-bar {
    /* For Firefox */
    background: linear-gradient(90deg, #87ceeb, #00bfff); /* Sky blue gradient */
    border-radius: 10px;
    transition: width 0.3s ease;
  }
  
  .about-testimonial-title {
    font-family: "Clash-Display", sans-serif;
  }

  .about-testimonial-card h2,h3,h4,h5,h6,p {
    font-family: "Satoshi-Regular", sans-serif;
  }

  .radial-light {
    position: relative;
    width: 150px;  /* Size of the light circle */
    height: 150px;  /* Size of the light circle */
    border-radius: 50%;  /* Circular shape */
    background: radial-gradient(circle, rgba(0, 255, 255, 0.8) 0%, rgba(0, 255, 255, 0) 70%);
    filter: blur(60px);  /* Radial blur effect */
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.6), 0 0 30px rgba(0, 255, 255, 0.4);
  }


  @keyframes scrollInfinite {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .scrollable-image-container {
    display: flex;
    width: 200%; 
    animation: scrollInfinite 30s linear infinite;
  }
  
  .scrollable-logo {
    height: auto;
    width: auto;
    max-width: 100%; 
    flex-shrink: 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@property --border-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: '<angle>';
}